@model Ghost.Models.Evidence

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4> Add New Evidence</h4>
<hr />
<div class="card text-white bg-dark mb-3" style="max-width: 45rem;">
    <div class="card-header">New Evidence</div>
    <div class="card-body">
        <h5 class="card-title">Add Summary of Evidence Collected</h5>
        <p class="card-text">
            <label asp-for="Summary" class="control-label"></label>
            <textarea class="form-control" aria-label="With textarea" asp-for="Summary"></textarea>
            <span asp-validation-for="Summary" class="text-danger"></span>
        </p>
        <h5 class="card-header">Add Audio File</h5>
        <p class="card-text">
            <label asp-for="MyAudio" class="control-label"></label>
            <input asp-for="MyAudio"></input>
            <span asp-validation-for="MyAudio" class="text-danger"></span>
        </p>
        <h5 class="card-header">Add Video File</h5>
        <p class="card-text">
            <label asp-for="MyVideo" class="control-label"></label>
            <input asp-for="MyVideo"></input>
            <span asp-validation-for="MyVideo" class="text-danger"></span>
        </p>
        <input type="submit" value="Create" class="btn btn-outline-success" />

    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
