@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Oh No A Spooky Ghost!</h1>
    <p>This is your one stop shop, to plan investigations at some of the most haunted places in West Virgina</p>
    <p>Here you can see locations, and evidence that has been collected at those locations by other memebers, and also load your own, and track your own investigations.</p>
</div>
