@model Ghost.Models.Investigation

@{
    ViewData["Title"] = "Create";
}

<h1>Create A New Investigation</h1>

<h4> New Investigation</h4>
<hr />
<div class="card mb-3" style="max-width: 5000px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFl0g8Fk1-49O9HESgddUrrXlt3hoRdG72f1upF0NmYSA4Ah23Dw&s" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">New Investigation</h5>
                <p class="card-text">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" asp-for="Summary">Summary</span>
                            </div>
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.Name" class="control-label"></label>
                        <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-dark" />
                        <button type="button" class="btn btn-outline-dark"><a asp-action="Index">Back to List</a></button>

                    </div>
                    
            </div>
        </div></p>

    </div>
    </div>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
